@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  color: #efeff3;
  background: linear-gradient(to bottom, #0f0f0f, #0e0e28, #08080e);
  // background: linear-gradient(to bottom, #0f0f0f, #0e0e28);
  // background: linear-gradient(to bottom, #0f0104, #0e0e28);
}


